body{
    background-color: black;
}
.blue{
    background-color: blue;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
}
.red{
    background-color: red;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    right: 100px; 
}
.green{
    background-color: green;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 200px;
    right: 200px; 
}
.yellow{
    background-color: yellow;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 300px;
    right: 300px; 
}